body{
    background-image: url('dark_wood.png');
}

p{
    color: white;
    font-family: "Ariial";
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

li{

}

a{
    color: white;
    font-weight: bold;
    font-size: 24px;    
}

#Header{
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8E41D5;
}

#Header h1{
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;
}

#LeftNav{
    border: solid 8px black;
    width: 400px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    background-color: #8E41D5;
}

#LeftNav img{

}

#LeftNav ul{
    list-style-type: none;
    padding-left: 0px;
}

#LeftNav h3{

}

#Content{
    border: solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    background-color: #8E41D5;
}

#Footer{
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8E41D5;
}

#Footer ul{
    list-style-type: none;
    padding-left: 0px;
}